.ProfileClientHeader {
    background-color: red;
    padding: 20px;
}

.ProfileClientAvatar {
    padding: 20px;

}

.ProfileClientPassword {
    padding: 20px;
}
.ProfileClientPassword > div {
    margin: 15px;
}