@media only screen and (max-width: 750px) {
  .storeWrapper {
    cursor: pointer;
    padding: 20px;
    width: 90%;
    margin-left: 5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
  }
  .storeInput{
    width:70%;
  }

  .storeButtonSearch{
    width:30%;
  }
  .storeButtonSearchWrapper {
    width: 50%;
    margin-left: 25%;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
    border-radius: 10px;
    background-color: white;
    
  }
  .storesSelector {
    padding: 10px;
  }
  .storeSearch{
    display:flex;
    padding: 10px;
  }

  .allStores{

    // display: grid;
    // grid-template-columns: repeat(1, 1fr);
    // grid-gap: 10px;
  }
  .StoreWrapperHeaderFixer {


  }
  .StoreWrapperHeader {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // border-radius: 10px;
    // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 90%;
    // margin-left: 5%;
    // margin-bottom: 20px;

    .storeSearch {
      width: 90%;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      margin: 20px;
      border-radius: 10px;
    }
  }

  .storeResults{
    /* padding-top: 70px; */
  }
  .inputStoreWrapper {
    /* padding: 10px; */
    width: 100%;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
    border-radius: 10px;
    color: #2a3345
  }

  .modal-dialog {
    margin: 0 !important;
  }

  .modal-content {
    border-radius: 0 !important;
    border: none !important;
    min-height: 100vh;
  }

  .headerModal {
    display: flex;
    flex-direction: row;
    height: 80px;
    line-height: 40px;
    .BtnCloseWrapper {

      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60%;
    }
  }

  .headerModalBtnClose {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: whitesmoke;
    border-radius: 5px;
    width: 40px;
    text-align: center;
    height: 40px;
    /* height: 30px;
    width: 30px; */
    /* padding: 5px; */
  }

  .categoriesMenuModal {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    padding: 20px;
  }

  .categoriesModal {
    flex-direction: row;
    text-align: center;
  }

  .categoriesModalSelected {
    flex-direction: row;
    text-align: center;
    color: red;
    border-bottom: 2px solid red;
  }

  .productModalWrapper {
    width: 80%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left: 10%;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    height: 80px;
    line-height: 80px;
  }

  .modalUpperWrapper {
    background-color: whitesmoke;
    color: #3c435b;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .modalUpperWrapperHeader {
    display: flex;
    text-align: center;
    width: 100%;
    padding: 40px;
  }
  .modalUpperWrapperHeader > div {
    width: 50%;
    font-size: 22px;
    font-weight: 500;
  }

  .ingredientsUpperWrapperHeader {
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid;
    border-radius: 20px;
  }
}

@media only screen and (min-width: 750px) {
  .StoreWrappergeneral {
    padding-top: 60px;
  }
  .storeWrapper {
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .storeInput{
    width:70%;
  }

  .storeButtonSearch{
    width:30%;
  }
  .storeButtonSearchWrapper {
    width: 50%;
    margin-left: 25%;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
    border-radius: 10px;
    background-color: white;
    
  }
  .storesSelector {
    padding: 10px;
  }
  .storeSearch{
    display:flex;
    padding: 10px;

  }

  .allStores{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  .StoreWrapperHeaderFixer {

  }
  .StoreWrapperHeader {
    
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    padding: 20px;
    .storeSearch {
      width: 100%;
    }
  }

  .storeResults{
    /* padding-top: 70px; */
  }
  .inputStoreWrapper {
    /* padding: 10px; */
    width: 100%;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
    border-radius: 10px;
    color: #2a3345
  }

  .modal-dialog {
    margin: 0 !important;
  }

  .modal-content {
    border-radius: 0 !important;
    border: none !important;
    min-height: 100vh;
  }

  .headerModal {
    display: flex;
    flex-direction: row;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .headerModalBtnClose {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: whitesmoke;
    border-radius: 5px;
    width: 40px;
    text-align: center;
    height: 40px;
    /* height: 30px;
    width: 30px; */
    /* padding: 5px; */
  }

  .categoriesMenuModal {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  .ingredientAndLabelWrapper {

    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    .logo {
      width: 20%;
      justify-content: center;
      align-items: center;
      display: flex;
    }
    .txt {
      display: flex;
      width: 80%;
      justify-content: center;
      align-items: center;
    }
  }

  .categoriesModal {
    flex-direction: row;
    text-align: center;
    cursor: pointer;
  }

  .categoriesModalSelected {
    flex-direction: row;
    text-align: center;
    color: red;
    border-bottom: 2px solid red;
    cursor: pointer;
  }

  .productModalWrapper {
    width: 80%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left: 10%;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    height: 80px;
    line-height: 80px;
    cursor: pointer;
  }

  .modalUpperWrapper {
    background-color: whitesmoke;
    color: #3c435b;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .modalUpperWrapperHeader {
    display: flex;
    text-align: center;
    width: 100%;
    padding: 40px;
  }
  .modalUpperWrapperHeader > div {
    width: 50%;
    font-size: 22px;
    font-weight: 500;
  }

  .ingredientsUpperWrapperHeader {
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid;
    border-radius: 20px;
  }
}